/* Common */
/*html, body {*/
	/*min-height: 100%;*/						/* 2 */
/*}*/

body {
	
}

.wrapper {
	/*min-height: 100vh;*/			/* 1 */		/*Чтобы оболочка была на весь экран*/
	
	width: 100%;								/* 2 */		/*Чтобы оболочка была на весь экран*/
	min-height: 100%;						/* 2 */			/*Чтобы оболочка была на весь экран*/
	overflow: hidden;						/*Чтобы за экран ничего не вылезло*/
}

.container {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
	padding: 0 10px;
}

/* ******************************************************* */